// colors
$color-r:rgb(190, 18, 18);
$color-g:rgb(22, 236, 22);
$color-b:rgb(70, 70, 232);
$color-o:rgb(244, 31, 31);
$color-B:black;
$color-w:white;

// colors with tranparency 0.5
$color-wt:rgb(255, 255, 255,0.5);
$color-wt0:rgb(255, 255, 255,0.1);
$color-r-5:rgb(190, 18, 18 ,0.5);
$color-g-5:rgb(22, 236, 22 ,0.5);
$color-b-5:rgb(70, 70, 232 ,0.5);
$color-o-5:rgba(240, 19, 7, 0.5);
$color-b-5:rgb(0, 0, 0,0.5);

// width
$width-100: 100px;
$width-200: 200px;
$width-250: 250px;
$width-300: 300px;
$width-500: 500px;


$width-832: 832px;
$width-786: 786px;

// height
$height-100:100vh;
$height-95:95vh;
$height-90:90vh;
$height-85:85vh;
$height-70:70vh;
$height-50:50vh;
$height-45:45vh;

// font-size

$font-1-1:.1rem;
$font-1-3:.3rem;

$font-1-5:.5rem;
$font-1:1rem;
$font-1po2:1.2rem;
$font-1po5:1.5rem;
$font-2:2rem;
$font-3:3rem;
$font-4:4rem;
$font-5:5rem;
$font-6:6rem;
$font-7:7rem;
$font-8:8rem;
$font-9:10rem;
$font-10:10rem;


// text-shadow

$shadow:2px 2px 4px rgba(0, 0, 0,);